body{
	margin: 0;
	padding: 0;
}

.form-usuarios{
	background-color: #fff;
	display: flex;
	justify-content: space-around;
}

.btn-ingresar{
	background-color: #5e99b1;
	color: #fff;
}

.btn-ingresar:hover{
	background-color: #fff;
	color: #5e99b1;
	border: 2px solid #5e99b1;
	transition-duration: 0.5s;
}

.btn-cancelar{
 background-color: #dc3545;
 color: #fff;
}

.btn-cancelar:hover{
 background-color: #fff;
 color: #dc3545;
 border: 2px solid #dc3545;
 transition-duration: 0.5s;
}

.botones{
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
}


@media only screen  and (max-width: 768px){

	.formulario{
		width: 100%;
		height: 100px;
	}
}
