
      @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

      body {
        color: #797979;
        background: #eeeeee;
        font-family: 'Lato', sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size:14px !important;
      }

      h1,h2,h3,h4,h5{
        font-weight: 300;
      }

      .lite{
        color: #00a0df !important;
      }

      .header {
          min-height: 50px;
          padding: 0 15px;
      }

      .header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
        border-bottom: 2px solid #fff;
      }

      a.logo {
        font-size: 22px;
        font-weight: 300;
        color: #fed189;
        float: left;
        margin-top: 8px;
        margin-left: 20px;
        text-transform: uppercase;
        position: absolute;
      }

      a.logo:hover, a.logo:focus {
        text-decoration: none;
        outline: none;
      }

      #top_menu .nav > li, ul.top-menu > li {
        float: left;
      }

      #notification_bar{
        margin-top: 5px;
      }

      ul.top-menu > li > a {
        color: #797979;
        font-size: 18px;
        padding: 2px 6px;
        margin-right: 15px;
      }

      ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
        background: transparent !important;
        color: #D7D7D7 !important;
      }

      .notification-row .badge {
        position: absolute;
        right: -4px;
        top: 0px;
        z-index: 4;
        border-radius: 9px;
        min-width: 18px;
        height: 18px;
        text-align: center;
        padding: 3px 5px;
        font-weight: 350;
        font-size: .7rem;
        color: #fff;
      }

      .badge {
        border-radius: 9px;
        min-width: 18px;
        height: 18px;
        text-align: center;
        padding: 3px 5px;
        background: #00a0df;
      }

      .top-nav  {
        margin-top: 5px;
      }

      .top-nav li.dropdown .dropdown-menu {
        float: right;
        right: 0;
        left: auto;
      }

      .dropdown-menu > li > a{
        color: #797979;
      }

      .top-nav ul.top-menu > li > a {
        padding: 8px;
        background: none;
        margin-right: 0;
      }

      .top-nav ul.top-menu > li {
        margin-left: 10px;
      }

      .dropdown-toggle::after {
        display:none;
      }

      .toggle-nav {
        float: left;
        padding-right: 15px;
        margin-top: 10px;
      }

      .toggle-nav .icon-reorder {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
      }

      .dropdown-menu.extended {
          max-width: 300px !important;
          min-width: 160px !important;
          top: 42px;
          width: 235px !important;
          padding: 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
          border: none !important;
          border-radius: 4px;
          -webkit-border-radius: 4px;
      }

      /*----*/

      .notice{
          border-radius: 8px;
          padding: 15px;
          background-color: #fff;
          border-left: 6px solid #7f7f84;
          margin-bottom: 10px;
          -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
             -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
      }

      .notice-warning {
          border-color: #FEAF20;
      }

      .notice-warning>strong {
          color: #FEAF20;
      }

      .notice-sistemakv {
          border-color: #5e99b1;
      }

      .notice-sistemakv>strong {
          color: #5e99b1;
      }

      .card-counter{
        box-shadow: 2px 2px 10px #dadada;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
      }

      .card-counter:hover{
        box-shadow: 4px 4px 20px #dadada;
        transition: .3s linear all;
      }

      .card-counter.primary{
        background-color: #007bff;
        color: #FFF;
      }

      .card-counter.warning{
        background-color: #feaf20;
        color: #FFF;
      }

      .card-counter.info{
        background-color: #26c6da;
        color: #FFF;
      }  

      .card-counter i{
        font-size: 5em;
        opacity: 0.2;
      }

      .card-counter .count-numbers{
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
      }

      .card-counter .count-name{
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
      }

      table {
        border-collapse: collapse;
        border-radius: .4em;
        overflow: hidden;
      }

      #buttonsKV{
        border: 1px solid #5e99b1;
        border-radius: 10px;
        color: #5e99b1;
      }
     
      #buttonsKV:hover{
        color: #fff !important;
        background-color: #5e99b1;
      }
