      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .sidebar{
        position: fixed;
        top: 0;
        left: -240px;
        height: 100%;
        width: 240px;
        background-color: #1b2d3b;
        padding: 6px 14px;
        transition: all 0.5s ease;
        z-index: 1;
      }

      .sidebar.active{
        left: 0;
      }

      .sidebar .logo_content .logo{
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center; 
        opacity: 0;
        pointer-events: none;
      }

      .sidebar.active .logo_content .logo{
        opacity: 1;
        pointer-events: none;
      }

      .logo_content .logo i{
        font-size: 20px;
        margin-right: 5px;
      }

      .logo_content .logo .logo_name {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }

      .logo_content .logo .logo_name img{
          position: absolute;
          height: 40px;
          width: 40px;
          object-fit: cover;
      }

      .logo_content .logo .logo_name span{
        position: relative;
        font-size: 16px;
        text-align: center;
        margin-left: 50px;
      }


      .sidebar #btn_menu{
        position: absolute;
        color: #fff;
        left: 50%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
      }

      .sidebar.active #btn_menu{
        left: 90%;
      }

      /*MENU*/

      .sidebar .nav_list{
        margin-top: 30px;
        width: 100%;
        height: 79%;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .sidebar.active .nav_list{
        opacity: 1;
        pointer-events: auto; 
      }

     
      .sidebar ul li{
        position: relative;
        width: 100%;
        list-style: none;
      }

      .sidebar .links_name{
        width: 100%;
        opacity: 0;
        pointer-events: none;
      }

      .sidebar.active .links_name{
        opacity: 1;
        pointer-events: auto;
      }

      .sidebar ul li a{
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 5px;
      }

      .sidebar ul li a:hover {
        color: #fff;
        background-color: #274054;

      }

      .sidebar ul li i{
        height: 50px;
        min-width: 40px;
        border-radius: 12px;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
      }

      /*2 NIVEL*/

      .sidebar ul li ul{
          display: none;
          width: 100%;
          height: auto;
          background-color: #121d26;
      }

      .sidebar ul li ul li{
          width: 100%;
          text-align: center;
      }

      .sidebar ul li ul li a{
          height: 45px;
          width: 100%;
      }

      /**/

      /* 3 NIVEL*/

      .sidebar ul li ul li ul{
          display: none;
          width: 100%;
          height: auto;
          background-color: #090f14;
      }

      .sidebar ul li ul li ul li{
          height: 45px;
          width: 100%;
          text-align: center;
      }

      .sidebar ul li ul li ul li a{
          height: 100%;
          width: 100%;
      }

      /**/

      .sidebar .profile_content{
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      .sidebar .profile_content .profile{
        position: relative;
        padding: 10px 6px;
        height: 60px;
        background-color: #274054;
      }

      .profile_content .profile .profile_detail{
        display: flex;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        white-space: nowrap;
      }

      .sidebar.active .profile .profile_detail{
        opacity: 1;
        pointer-events: auto;
      }

      .profile .profile_detail img{
        height: 42px;
        width: 45px;
        object-fit: cover;
        border: 2px solid #274054;
        /*border-radius: 50%;*/
      }

      .profile .profile_detail .name_job{
        margin-left: 10px;
      }

      .profile .profile_detail .name{
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
      }

      .profile .profile_detail .job{
        font-size: 12px;
      }

      .profile #log_out{
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        min-width: 50px;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        border-radius: 12px;
        cursor: pointer;

      }

      .profile #log_out{
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        min-width: 50px;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        border-radius: 12px;
        cursor: pointer;

      }

      .profile a{
        color: #fff;
      }

      .sidebar.active .profile #log_out{
        left: 90%;
      }

      .home_content{
        margin-top: 50px;
        position: absolute;
        z-index: 0;
        height: calc(100% - 50px);
        width:100%;
        padding: 2%;
      }


      .sidebar .nav_list::-webkit-scrollbar {
          -webkit-appearance: none;
      }

      .sidebar .nav_list::-webkit-scrollbar:vertical {
          width:6px;
      }

      .sidebar .nav_list::-webkit-scrollbar-button:increment,.sidebar .nav_list::-webkit-scrollbar-button {
          display: none;
      } 

      .sidebar .nav_list::-webkit-scrollbar:horizontal {
          height: 10px;
      }

      .sidebar .nav_list::-webkit-scrollbar-thumb {
          background-color: #FFF;
          border-radius: 20px;
          border: 2px solid #1b2d3b;
      }

      .sidebar .nav_list::-webkit-scrollbar-track {
          border-radius: 10px;  
          background-color: #121d26;
      }